<header class="sticky top-0 z-50">
  <nav
    class="border-b bg-gradient-to-br from-blue-600 to-purple-600 border-gray-200 dark:bg-gray-900 dark:border-gray-700">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="assets/images/stylehub-logo.png" class="bg-white rounded-xl" height="auto" width="60"
          alt="StyleHub Logo" />
        <span class="self-center text-2xl font-bold whitespace-nowrap text-white">StyleHub</span>
      </a>
      <div class="flex md:order-2">
        <button type="button" data-collapse-toggle="navbar-search" aria-controls="navbar-search" aria-expanded="false"
          class="md:hidden text-gray-200 hover:text-gray-600 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 rounded-lg text-sm p-2.5 me-1">
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
          <span class="sr-only">Search</span>
        </button>

        <button data-collapse-toggle="navbar-search" type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-200 hover:text-gray-600 hover:bg-gray-100 rounded-lg md:hidden focus:outline-none focus:ring-2 focus:ring-gray-200"
          aria-controls="navbar-search" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15" />
          </svg>
        </button>
      </div>
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-search">
        <div class="relative mt-3 md:hidden">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
          </div>
          <input type="text" id="search-navbar"
            class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Search products...">
        </div>
        <div
          class="flex flex-col p-3 mt-4 font-medium md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">

          <button class="p-3 rounded-full hover:bg-gray-100 hover:text-gray-700 dark:hover:bg-gray-800 transition">
            <lucide-icon [img]="Moon" class="h-5 w-5 text-gray-200 hover:text-gray-700"></lucide-icon>
          </button>

          <a routerLink="auth/sign-in"
            class="flex items-center text-sm gap-2 text-white border-b p-3 hover:border-blue-500 rounded-lg">
            <lucide-icon [img]="User" class="text-white h-5 w-5"></lucide-icon>
            Sign in
          </a>
        </div>
      </div>


      <div class="relative mx-auto hidden w-96 md:block">
        <lucide-icon [img]="Search"
          class="absolute left-2 top-1/2 -translate-y-1/2 text-gray-400 h-5 w-5 pointer-events-none">
        </lucide-icon>
        <input type="text" placeholder="Search products..."
          class="pl-10 pr-3 py-3 w-full text-sm rounded-lg border dark:text-gray-200 border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-800 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-primary/50 focus:border-primary transition-all" />
      </div>
    </div>
  </nav>

</header>
