<app-header />

<div class="absolute top-16 left-10 w-72 h-72 bg-purple-400 rounded-full blur-3xl opacity-15 animate-pulse"></div>
<div class="absolute bottom-16 right-10 w-72 h-72 bg-blue-400 rounded-full blur-3xl opacity-15 animate-pulse"></div>
<!-- <div class="absolute -z-10 bg-[url('https://www.transparenttextures.com/patterns/cubes.png')] opacity-5"></div> -->

<main class="min-h-full flex flex-col items-center justify-center py-10 px-4 sm:px-6 lg:px-8 space-y-6">

  <ng-content></ng-content>
</main>
